<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div>
            <h1 class="pad-10">DBLP research</h1>
            <form action="/index" method="POST" class="pad-10">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="queryInput">Full Text Search:</label> 
                        {% if search_string %}
                            <input type="text" class="form-control border-danger" name="query" id="queryInput" value="{{ search_string }}"><br>
                        {% else %}
                            <input type="text" class="form-control border-danger" name="query" id="queryInput" placeholder='article.title:"spectre"'><br>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="rankSelect">Rank type:</label>
                        <select class="form-control border-danger" id="rankSelect" name="rank">
                            {% if rank == "MostRelevant" %}
                                <option value="MostRelevant" selected>Most relevant</option>
                                <option value="MostRecent">Most recent</option>
                            {% elif rank == "MostRecent" %}
                                <option value="MostRelevant">Most relevant</option>
                                <option value="MostRecent" selected>Most recent</option>
                            {% else %}
                                <option value="MostRelevant" selected>Most relevant</option>
                                <option value="MostRecent">Most recent</option>
                            {% endif %}
                        </select><br>
                    </div>
                    <div class="form-group col-md-1">
                        <input type="hidden" name="page" value="1">
                        <button id="submit_query" type="submit" class="btn btn-danger btn-lg">Search</button>
                    </div>
                </div>
            </form>
            <div class="pad-10">
            {% if data %}
                <div class="row">
                    <div class="col-md-2">Query execution time: {{data["took"]}}ms</div>
                    <div class="col-md-2">Document retrieved: {{data["hits"]["total"]["value"]}}</div>
                </div>
                <div class="container-fluid">
                    {% for element in data["hits"]["hits"] %}   
                        {% for key in element["_source"].keys() %}
                            <div class="row red-1 rounded-top">
                                <div class="col-md-1">Titolo:</div>
                                <div class="col-md-9">{{element["_source"][key]["title"][0]["#text"]}}</div>
                                <div class="col-md-1">{{key}}</div>
                                <div class="col-md-1 text-right">{{element["_source"][key]["year"][0]["#text"]}}</div>
                            </div>
                            <div class="row red-2">
                                <div class="col-md-1">Key:</div>
                                <div class="col-md-11">{{element["_source"][key]["@key"]}}</div>
                            </div>
                            {% if element["_source"][key]["author"] %}
                            <div class="row red-2">
                                <div class="col-md-1">Authors:</div>
                                <div class="col-md-11">
                                    {% for author in element["_source"][key]["author"] %}
                                        {{author["#text"]}},
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            {% if element["_source"][key]["editor"] %}
                            <div class="row red-2">
                                <div class="col-md-1">Editor:</div>
                                <div class="col-md-11">
                                    {% for editor in element["_source"][key]["editor"] %}
                                        {{editor["#text"]}},
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            {% if element["_source"][key]["journal"] %}
                            <div class="row red-2">
                                <div class="col-md-1">Journal:</div>
                                <div class="col-md-11">
                                    {{element["_source"][key]["journal"][0]["#text"]}}
                                </div>
                            </div>
                            {% endif %}
                            {% if element["_source"][key]["volume"] %}
                            <div class="row red-2">
                                <div class="col-md-1">Volume:</div>
                                <div class="col-md-11">
                                    {{element["_source"][key]["volume"][0]["#text"]}}
                                </div>
                            </div>
                            {% endif %}
                            {% if element["_source"][key]["booktitle"] %}
                            <div class="row red-2">
                                <div class="col-md-1">Booktitle:</div>
                                <div class="col-md-11">
                                    {{element["_source"][key]["booktitle"][0]["#text"]}}
                                </div>
                            </div>
                            {% endif %}
                            {% if element["_source"][key]["ee"] %}
                                {% for link in element["_source"][key]["ee"] %}
                                    <div class="row red-2">
                                        <div class="col-md-1">Link:</div>
                                        <div class="col-md-11">
                                            <a href='{{link["#text"]}}' target="_blank">{{link["#text"]}}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="row red-2 rounded-bottom">
                                    <!-- {{data}} -->
                                <div class="col-md-5">
                                    <form action="/index" method="POST">
                                        <input type="hidden" name="query" value='crossref:"{{element["_source"][key]["@key"]}}"'>
                                        <input type="hidden" name="rank" value="MostRelevant">
                                        <input type="hidden" name="page" value="1">
                                        <button id="crossrefbtn" type="submit" class="btn btn-danger btn-sm">Related document</button>
                                    </form>
                                    <br>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        {% for n in range(1,[16,(data["hits"]["total"]["value"]//100)+2|round(0,'ceil')|int]|min) %}
                            {% if page == n %}
                            <li class="page-item active">
                            {% else %}
                            <li class="page-item">
                            {% endif %}
                                <a class="page-link" href="/index/{{search_string}}/{{rank}}/{{n}}">{{n}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            {% else %}
                <div>Nothing found on DBLP!</div>
            {% endif %}
            </div>
        </div>
    </body>
</html>
